@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import 'tailwindcss';

.cpu-warning {
  background: rgba(139, 92, 246, 0.1);
  border: 1px solid rgba(139, 92, 246, 0.3);
  color: #a78bfa;
  padding: 0.125em 0.625em;
  border-radius: 100px;
  font-size: 0.625em;
  font-weight: 100;
  margin-left: 0.825em;
  display: inline-flex;
  align-items: center;
  margin-top: 0.3em;
}

.gpu-indicator {
  background: rgba(16, 185, 129, 0.1);
  border: 1px solid rgba(16, 185, 129, 0.3);
  color: #10b981;
  padding: .425em .925em;
  border-radius: 100px;
  font-size: 0.75rem;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
}